<body>
    <h2><a routerLink="/"><span><i class="fa fa-graduation-cap" aria-hidden="true"></i></span></a></h2>
    <h1>Addition</h1>
    <p>Die Addition (lateinisch additio, von addere „hinzufügen“), umgangssprachlich auch Plus-Rechnen oder Und-Rechnen genannt,
        ist eine der vier Grundrechenarten in der Arithmetik. Die Addition basiert auf dem Vorgang des Zählens. Deshalb verwendet
        man für den Vorgang, eine Addition auszuführen, neben Addieren auch den Ausdruck Zusammenzählen. Das Rechenzeichen
        für die Addition ist das Pluszeichen „+“. Es wurde 1489 von Johannes Widmann eingeführt. Beispiel: 2 + 3 = 5 wird
        gelesen als „zwei plus drei (ist) gleich fünf“ oder umgangssprachlich „zwei und drei ergibt fünf“.</p>

    <h2><a routerLink="/learn"><span><i class="fa fa-reply" aria-hidden="true"></i></span></a></h2>
</body>