<body>
    <h2><a routerLink="/"><span><i class="fa fa-graduation-cap" aria-hidden="true"></i></span></a></h2>
    <h1>Division</h1>
    <p>Die Division ist eine der vier Grundrechenarten der Arithmetik. Sie ist die Umkehroperation der Multiplikation. Die Division
        wird umgangssprachlich auch als Teilen bezeichnet. Die schriftliche Division ist die Methode des Teilens mit Stift
        und Papier. In Österreich wird gelegentlich zwischen Messen (wie oft geht es in …?) und Teilen (wie viel ergibt es
        geteilt durch …?) unterschieden.[1] Sie wird im Schulunterricht der Grundschule gelehrt und noch einmal in Schulbüchern
        für die 5. Klasse[2] dargestellt, wird aber nach Einführung elektronischer Hilfsmittel von Lernenden kaum noch angewandt.
        Rechenzeichen für die Division sind : ÷ / als Geteiltzeichen.</p>

    <h2><a routerLink="/learn"><span><i class="fa fa-reply" aria-hidden="true"></i></span></a></h2>
</body>