<div class="header">
    <a routerLink="/"><span><i class="fa fa-graduation-cap" aria-hidden="true"></i></span></a>
</div>
<div class="header_headline">Multiplikation</div>
<p>Die Multiplikation (lateinisch multiplicatio, von multiplicare ‚vervielfachen‘, auch Malnehmen genannt) ist eine der vier
    Grundrechenarten in der Arithmetik. Ihre Umkehroperation ist die Division (das Teilen). Das Rechenzeichen für die Multiplikation
    ist das Malzeichen „·“ bzw. „×“.</p>
<div class="footer">
    <a routerLink="/learn"><span><i class="fa fa-reply" aria-hidden="true"></i></span></a>
</div>


<img class="background" src="assets/images/owl.png" alt="edu owl" width="10%">