<body>
    <h2><a routerLink="/"><span><i class="fa fa-graduation-cap" aria-hidden="true"></i></span></a></h2>
    <h1>Subtraktion</h1>
    <p>Die Subtraktion (von lat. subtrahere „wegziehen“, „entfernen“), umgangssprachlich auch Minus-Rechnen genannt, ist eine
        der vier Grundrechenarten der Arithmetik. Unter der Subtraktion versteht man das Abziehen einer Zahl von einer anderen.
        Mathematisch handelt es sich bei der Subtraktion um eine zweistellige Verknüpfung. Die Subtraktion ist die Umkehroperation
        der Addition. Das Rechenzeichen für die Subtraktion ist das Minuszeichen „−“.</p>

    <h2><a routerLink="/learn"><span><i class="fa fa-reply" aria-hidden="true"></i></span></a></h2>
</body>