<div class="header">
    <a routerLink="/"><span><i class="fa fa-graduation-cap" aria-hidden="true"></i></span></a>
</div>
<table class="learn">
    <tr>
        <td class="learn" routerLink="/learn/addition">+</td>
        <td class="learn" routerLink="/learn/subtraction">-</td>
    </tr>
    <tr>
        <td class="learn" routerLink="/learn/multiplication">*</td>
        <td class="learn" routerLink="/learn/division">:</td>
    </tr>
</table>
<div class="footer">
    <a routerLink="/"><span><i class="fa fa-reply" aria-hidden="true"></i></span></a>
</div>


<img class="background" src="assets/images/owl.png" alt="edu owl" width="10%">