<div class="header">
    <a routerLink="/"><span><i class="fa fa-graduation-cap" aria-hidden="true"></i></span></a>
</div>
<div class="center">
    <div *ngIf="!showSubmit">

        <div *ngIf="!running">
            <div class="header_headline">
                <h2>Wie schwer sollen die Aufgaben sein?</h2>
            </div>
            <div [(ngModel)]="severity" ngbRadioGroup name="radioBasic">
                <label class="btn btn-primary">
                    <input type="radio" [value]="1">leicht
                </label>
                <label class="btn btn-primary">
                    <input type="radio" [value]="2">mittel
                    </label>
                <label class="btn btn-primary">
                    <input type="radio" [value]="3">schwer
                </label>
            </div>

            <h2>Was willst du üben?</h2>

            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary" [class.active]="selectedOperations.addition">
                    <input type="checkbox" [(ngModel)]="selectedOperations.addition"> +
                    </label>
                <label class="btn btn-primary" [class.active]="selectedOperations.subtraction">
                    <input type="checkbox" [(ngModel)]="selectedOperations.subtraction"> -
                    </label>
                <label class="btn btn-primary" [class.active]="selectedOperations.multiplication">
                    <input type="checkbox" [(ngModel)]="selectedOperations.multiplication"> *
                </label>
                <label class="btn btn-primary" [class.active]="selectedOperations.division">
                    <input type="checkbox" [(ngModel)]="selectedOperations.division"> :
                </label>
            </div>
            <br>
            <br>
            <div [(ngModel)]="count" ngbRadioGroup name="radioBasic">
                <label class="btn btn-primary">
                    <input type="radio" [value]="false">ohne Punkte
                </label>
                <label class="btn btn-primary">
                    <input type="radio" [value]="true">mit Punkte
                </label>
            </div>
            <br>
            <br>
            <button label class="btn btn-success" (click)="toggleRunning(true)">Start</button>
            <button class="btn btn-info" routerLink="/highscore">Punkteliste</button>
        </div>
        <div *ngIf="running">
            <p>Wie viel ist</p>
            <p class="calc">{{numbers[0]}} {{usedOperator}} {{numbers[1]}} = <input class="calc" type="text" name="result" [(ngModel)]="result"
                /></p>


            <div *ngIf="check">
                <div *ngIf="correct">
                    <div class="correct">
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                    </div>
                </div>
                <div *ngIf="!correct">
                    <div class="wrong">
                        <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div *ngIf="!check">
                <button label class="btn btn-primary" (click)="checkCalc()">prüfen</button>
            </div>
            <div *ngIf="count">
                <br><br>
                <p class="score">Punkte: {{score}}</p>
            </div>
            <br><br>
            <button label class="btn btn-danger" (click)="(score != 0) ? toggleRunning(false) : submitScore(false)">Ende</button>
            <button label class="btn btn-info" (click)="newExercise()">neue Rechnung</button>
        </div>
    </div>
    <div *ngIf="showSubmit && count && score != 0">
        <br><br>
        <h1>Wie heißt du?</h1>
        <p>Du hast {{score}} Punkte erreicht!</p>
        <p><input type="text" name="userName" [(ngModel)]="userName" /></p>
        <button label class="btn btn-primary" (click)="submitScore(true)">speichern</button>
    </div>
</div>
<div class="footer">
    <a routerLink="/"><span><i class="fa fa-reply" aria-hidden="true"></i></span></a>
</div>

<img class="background" src="assets/images/owl.png" alt="edu owl" width="10%">