body {
    background-color: #EFFBFB;
}

h1 {
    color: black;
    text-align: center;
}

h2 {
    margin-top: 20px;
    color: #0175D8;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
    text-align: center;
}

.logo {
    font-size: 200px;
    color: #0175D8;
}

.calc {
    text-align: center;
    font-size: 40px;
}

input.calc {
    text-align: center;
    background-color: #CBFAFA;
    border: 0;
    font-size: 40px;
    width: 90px;
}

.header {
    text-align: left;
    position: fixed;
    left: 0px;
    top: 0px;
    font-size: 50px;
}

.header_headline {
    color: #0175D8;
    text-align: center;
    margin-top: 30px;
    font-size: 50px;
}


table.learn {
    width:70%; 
    height: 70%;
    margin-left:15%; 
    margin-right:15%;
    margin-top:15%; 
    margin-bottom:15%;
    border-collapse: separate; 
    border-spacing: 20px;
}

td.learn {
    border-radius: 50px;
    height: 10px;
    width: 200px;
    text-align: center;
    color: white;
    background-color:#0175D8;
    font-size: 100px;
    vertical-align: center;
}

td.learn:hover {
    background-color: #014C8D;
    color: white;
}

.footer {
    text-align: left;
    position: fixed;
    vertical-align: bottom;
    left: 0px;
    bottom: 0px;
    font-size: 50px;
    color: #0175D8;
}

.background {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.center {
    position: auto;
    text-align: center;
    width: 92%; 
    height: 70%;
    margin-left: 4%; 
    margin-right: 4%;
    margin-top: 15%; 
    margin-bottom: 15%;
}

table.highscore {
    width: 70%; 
    height: 70%;
    margin-left: 15%; 
    margin-right: 15%;
    margin-top: 15%; 
    margin-bottom: 15%;
}

th.highscore {
    font-size: 30px;
    text-align: center;
}

tr.highscore {
    font-size: 20px;
    background-color:#0175D8;
    color: white;
}

tr.highscore:nth-child(even){
    background-color: #659FD2
    }

tr.highscore:hover {
    background-color: #014C8D;
    color: white;
}

p.score {
    font-weight: bold;
    font-size: 30px;
}

.correct {
    color: lightgreen;
    font-size: 120px;
}

.wrong {
    color: lightcoral;
    font-size: 120px;
}